@tailwind base;
@tailwind components;
@tailwind utilities;

body>main {
    background-position: center;
    background-size: cover;
    scrollbar-width: none;
}

/* Track */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.scrollbar-sm::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #0004;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}